# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\翔龙的学习环境\SSM\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
